# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/

# Android / Gradle
android/.gradle/
android/local.properties
*.iml

# IDE
.idea/
.vscode/
